.search-bar {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0 0 5px rgba(253, 24, 218, 0.5);
    border-color: rgba(253, 24, 218, 1);
}