.tela-jogo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg); 
    overflow-x: hidden;
}

.cabecalho-jogo {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(218, 255, 253, 0.9); 
}

.cabecalho-jogo h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-shadow: 2px 2px #fff;
}

.container-barra-progresso {
    max-width: 350px;
    margin: 0 auto;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    position: relative;
    border: 3px solid var(--border-secundary);
    overflow: hidden;
}

.barra-preenchida {
    height: 100%;
    background-color: #f39213;
    transition: width 0.5s ease-in-out;
}

.texto-progresso {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 20px;
    color: #333;
}


.camada-sobreposicao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px;
}