.topinho{
	background-color: var(--bg2);
	border: 1px solid var(--border);
	border-radius: 1rem;
	box-shadow: var(--shadow);
	padding: 0.9rem;
	display: grid;
	gap: 1rem;
}

.topinho-conteudo h1{
	margin: 0;
	font-size: 2.5rem;
	line-height: 1.08;
}

.topinho-conteudo p{
	margin: 14px 0;
	font-size: 1.1rem;
}

.topinho-botoes{
	margin-top: 0.6rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.7;
}

.topinho-card{
	display: grid;
	place-items: center;
}

.top-cardzinho{
	width: 100%;
	background: var(--bg3);
	border: 1px solid var(--border);
	border-radius: 14px;
	padding: 0.2rem;

	display: flex;
	flex-direction: row;
}

.cardzinho-img{
	width: 50%;
}

.cardzinho-titulo{
	line-height: 1;
}

@media(min-width: 768px){
	.topinho{
		grid-template-columns: 1.2fr 0.8fr;

		gap: 1.2rem;
	}
}

@media(min-width: 1440px){
	.topinho{
		padding: 1.6rem;
		gap: 1.2rem;
	}

	.topinho-card{
		max-width: 60ch;
	}

	.cardzinho-img{
		width: 60%;
	}
}