.footer{
	margin-top: 1.1rem;
	border-top:1px solid var(--border);
	padding: 12px 0;
	color: var(--text-cinza);
}

.footer__inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.8rem;
	font-size: 0.9rem;
}

.footer a{
	font-weight: 600;
	color: var(--secundary);
	text-decoration: none;
	border: 1px solid var(--border);
	border-radius: 10px;
	padding: 5px;
}

.footer a:hover{
	text-decoration: underline;
}