.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--white);
    border-bottom: 1px solid var(--border) ;
}

.container.headerzin{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	padding: 1rem;
}

.sanduiche{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 8px;
}

.hamburguin{
	width: 100%;
	height: 2px;
	background: var(--black);
	border-radius: 2px;

	transition: transform 0.2s ease, opacity 0.2s ease;
}


.sanduiche.aberta .hamburguin:nth-child(1){
	transform: translateY(6px) rotate(45deg);
}

.sanduiche.aberta .hamburguin:nth-child(2){
	opacity: 0;
}

.sanduiche.aberta .hamburguin:nth-child(3){
	transform: translateY(-6px) rotate(-45deg);
}

.nav{
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% + 0px);
	display: grid;
	gap: 8px;
	padding: 1rem;
	background: var(--white);
	border-top: 1px solid var(--border);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform:  translateY(-8px);
	transition: opacity 0.2 ease, transform 0.2 ease, visibility 0.2 ease;
}

.nav.aberta{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform:  translateY(0);
	
}

.nav a{
	text-decoration: none;
	color: var(--border);
	padding: 10px;
	font-size: medium;

}

.nav a:hover{
	background-color: var(--primary);
}

@media(min-width: 1024px){
	.sanduiche{
		display: none;
	}
	.nav{
		position: static;
		display: flex;
		gap: 1rem;
		padding: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: none;
		background: transparent;
		border: 0;
	}
}