/* Fundo geral */
body {
  background: #8e72dd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Container do tabuleiro */
.containerTabuleiro {
  text-align: center;
  background: rgba(242, 230, 255, 0.758);
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

/* Títulos */
.containerTabuleiro h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.containerTabuleiro h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #666;
}

/* Cada linha */
.linha {
  display: flex;
  justify-content: center;
}

/* Cada quadrado */
.quadrado {
  width: 100px;
  height: 100px;
  margin: 4px;
  border: 2px solid #333;
  border-radius: 6px;
  background: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

/* Efeito hover */
.quadrado:hover {
  background: #f0f0f0;
  transform: scale(1.05);
}

.icone {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.reiniciarJogo {
  margin-top: 25px;
  text-align: center;
}

.btn-reiniciar {
  background: #8625a1;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-reiniciar:hover {
  background: #3d095a;
}

.rodape {
  margin-top: 30px;
  padding: 10px;
  font-size: 0.9rem;
  color: var(--muted);
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.1);
}